<launch>
<include file="$(find ebot_description)/launch/ebot_visualize.launch"/>
<arg name="map_file" default="$(find ebot_task5_ur5)/map/SB#1223.yaml"/>
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
<include file="$(find ebot_task5_ur5)/launch/amcl.launch" /> 
<include file="$(find ebot_task5_ur5)/launch/nav.launch"/>
<!-- <node name="task4_1223" pkg="ebot_ur5" type="sb#1223_task4.py" /> -->
<!-- <node pkg="ebot_nav" name="nav_test" type="SB#1223.py" > </node> -->
<!-- <node name="nav_test" pkg="ebot_ur5" type="dropbox1_task5.py" /> -->
<!-- <node name="nav" pkg="ebot_task5_ur5" type="dropbox2_task5.py" />  -->
</launch>
